@import "@styles/colors";

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  overflow: auto;
}

.picture {
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 2px solid #111;
  border-radius: 10px;
  background-color: $dark-m;
  overflow: hidden;
  transition: all .3s;
  cursor: pointer;
  color: white;
  letter-spacing: .05em;

  &:hover {
    bottom: 2px;
    border-color: #222;
    background-color: #444;
  }
}

.pictureImgWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.pictureUsername {
  width: 100%;
  min-height: 20px;
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
}

:global(.light) {
  .picture {
    border-color: $dark-l;
    background-color: $light;

    &:hover {
      border-color: #888;
      background-color: $light-m;
    }
  }

  .pictureUsername {
    color: $dark;
  }
}

@media (max-width: 680px) {
  .container {
    grid-template-columns: 33% 33% 33%;
  }
}

@media (max-width: 460px) {
  .container {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 280px) {
  .container {
    grid-template-columns: 100%;
  }
}
