.panelBtn {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: .0);
  border: 0;
  cursor: pointer;

  div {
    width: 24px;
    height: 24px;
    border: 2px solid rgb(140, 140, 140);
    border-radius: 50%;
  }
}
